<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="SandS.Algorithm.Common" version="2.0.1.01" targetFramework="net461" />
  <package id="SandS.Algorithm.Extensions.DateTimeExtension" version="2.0.0" targetFramework="net461" />
  <package id="SandS.Algorithm.Extensions.EnumerableExtensions" version="2.0.0" targetFramework="net461" />
  <package id="SandS.Algorithm.Extensions.GraphicsDeviceExtension" version="2.0.1" targetFramework="net461" />
  <package id="SandS.Algorithm.Extensions.IComparableExtension" version="2.0.0" targetFramework="net461" />
  <package id="SandS.Algorithm.Extensions.IListExtension" version="2.0.0" targetFramework="net461" />
  <package id="SandS.Algorithm.Extensions.StringBuilderExtension" version="2.0.0" targetFramework="net461" />
  <package id="SandS.Algorithm.Extensions.StringExtension" version="2.0.0" targetFramework="net461" />
  <package id="SandS.Algorithm.Library.Bitwise" version="2.0.0" targetFramework="net461" />
  <package id="SandS.Algorithm.Library.FastObjectAllocator" version="2.0.0" targetFramework="net461" />
  <package id="SandS.Algorithm.Library.Generator" version="2.0.1.01" targetFramework="net461" />
  <package id="SandS.Algorithm.Library.Graph" version="2.0.1" targetFramework="net461" />
  <package id="SandS.Algorithm.Library.Menu" version="2.0.1" targetFramework="net461" />
  <package id="SandS.Algorithm.Library.Other" version="2.0.1" targetFramework="net461" />
  <package id="SandS.Algorithm.Library.Search" version="2.0.1.01" targetFramework="net461" />
  <package id="SandS.Algorithm.Library.Sort" version="2.0.1.01" targetFramework="net461" />
  <package id="SandS.Algorithm.Library.Storage" version="2.0.1.01" targetFramework="net461" />
  <package id="SandS.Algorithms.Extensions" version="2.0.0" targetFramework="net461" />
  <package id="SandS.Algorithms.Library" version="2.0.1.01" targetFramework="net461" />
</packages>